[submodule "my_first_rails_app"]
	path = my_first_rails_app
	url = https://github.com/Hadayxinchao/my_first_rails_app
[submodule "blog_app"]
	path = blog_app
	url = https://github.com/Hadayxinchao/blog_app
[submodule "micro_reddit"]
	path = micro_reddit
	url = https://github.com/Hadayxinchao/Micro_Reddit
[submodule "re_former"]
	path = re_former
	url = https://github.com/Hadayxinchao/Re-former
