[submodule "my_first_rails_app"]
	path = my_first_rails_app
	url = https://github.com/Hadayxinchao/my_first_rails_app
[submodule "blog_app"]
	path = blog_app
	url = https://github.com/Hadayxinchao/blog_app
[submodule "micro_reddit"]
	path = micro_reddit
	url = https://github.com/Hadayxinchao/Micro_Reddit
[submodule "re_former"]
	path = re_former
	url = https://github.com/Hadayxinchao/Re-former
[submodule "members_only"]
	path = members_only
	url = https://github.com/Hadayxinchao/Members-Only
[submodule "private_events"]
	path = private_events
	url = https://github.com/Hadayxinchao/Private_Events
[submodule "flight_booker"]
	path = flight_booker
	url = https://github.com/Hadayxinchao/odin_flight_booker
[submodule "kittens_api"]
	path = kittens_api
	url = https://github.com/Hadayxinchao/odin_kittens
[submodule "cloudinary_api_photowidget"]
	path = cloudinary_api_photowidget
	url = https://github.com/Hadayxinchao/cloudinary_api_photowidget
