[submodule "my_first_rails_app"]
	path = my_first_rails_app
	url = https://github.com/Hadayxinchao/my_first_rails_app
[submodule "blog_app"]
	path = blog_app
	url = https://github.com/Hadayxinchao/blog_app
